body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: changeBackground 10s infinite alternate;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

@keyframes changeBackground {
    0% {
        background-color: red;
    }

    25% {
        background-color: blue;
    }

    50% {
        background-color: green;
    }

    75% {
        background-color: yellow;
    }

    100% {
        background-color: orange;
    }
}

#content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.back-button {
    background-color: #800000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}