@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .fadeOutAnimation {
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  .hidden {
    display: none;
  }