body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    background-color: #7a6fa6;
    color: #fff;
}

body>p {
    margin: 2em;
}

.container {
    text-align: center;
    /* padding: 50 300px; */
}

.container p {
    font-size: calc(26px - 2 * (3 - 1));
    margin: 30px 0;
}

.example-path-button {
    display: inline-block;
    background-color: #808080;
    color: #000;
    font-size: 45px;
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 10px;
    margin: 20px;
    font-weight: bold;
}

.path-text-link {
    cursor: pointer;
    font-size: 18px;
    padding: 15px 50px;
    border-radius: 10px;
    display: inline-block;
    color: blue;
    text-decoration: underline;
    margin-bottom: 20px;
}

.button-container {
    text-align: left;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.example-image {
    scale: 50%;
}




.bmd-layout-canvas {
    margin: 0;
}

.navbar {
    background-color: #555555;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.card {
    margin: 10px 0;
}

.dropdown-menu-right {
    position: absolute;
    left: -128px;
    top: 32px;
}

.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer>header {
    background-color: #7a6fa6;
    color: white;
}

.bmd-layout-drawer>ul {
    background-color: #DDDDDD;
}

.list-group-item :first-child {
    margin-right: 0.5rem;
}

.navbar-dark .navbar-toggler {
    color: hsla(0, 0%, 100%, .5);
    border-color: hsla(0, 0%, 100%, 0);
}

/* #img-well {
    width: auto;
    height: auto;
    object-fit: contain;
} */


#detailPageBody {
    display: block;
    color: #000;
}

#detailPageBody .card {
    margin: 10px 20em;
    justify-content: center;
}

#detailPageBody .card-body {
    margin: auto;
}

#listPage img{
    width: 1049px;
    height: 699px;
    object-fit: contain;
}

#listPage .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* #listPage .card-photo {} */

#fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: white;
    background: #800000;
}

#fab:active {
    opacity: 0.8;
    transform: translateY(2px);
}

#rose_logo {
    max-width: 20em;
    display: block;
    margin: 20px auto;
}

#rosefireLogin {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    cursor: pointer;
}

/* menu items */

#menuEdit,
#menuDelete {
    /* display: none; */
    cursor: pointer;
    color: rgb(0, 74, 67);
}

#menuSignOut,
#menuShowAllPhotos,
#menuDiscoveredEnds {
    cursor: pointer;
    margin-bottom: 20px;
    color: rgb(0, 74, 67);
}

#signIn {
    margin: 60px auto;
    padding: 10px 30px;
    text-align: center;
    font-size: 48px;
    color: rgb(0, 74, 67);
}