body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.choice-container {
    display: flex;
    height: 100vh;
}

.live,
.die {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.live {
    background-color: blue;
}

.die {
    background-color: red;
}

.header {
    text-align: center;
    background-color: rgb(255, 126, 255);
}

.live-button,
.die-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.live-button:hover,
.die-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}