:root{
    --blacksmoke: rgb(10, 10, 10);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.choice-container {
    display: flex;
    height: 100vh;
}

.live,
.die {
    text-decoration: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}

.live {
    background-color: whitesmoke;
    color: whitesmoke;
}

.live:hover{
    color: var(--blacksmoke);
}

.die {
    background-color: var(--blacksmoke);
    color: var(--blacksmoke);
}

.die:hover{
    color: whitesmoke;
}

.header {
    text-align: center;
    color: rgb(128, 128, 128);
}

#O{
    font-size: 3em;
    display: flex;
    align-self: flex-end;
    color: black;
}

#R{
    font-size: 3em;
    display: flex;
    align-self: flex-start;
    color: white;
}