* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v64_38 {
  width: 100%;
  height: 858px;
  background: rgba(238,238,153,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v72_14034 {
  width: 650px;
  height: 625px;
  background: url("../images/scribble.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 350px;
  overflow: hidden;
}
.v73_14038 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 650px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.back-button {
  background-color: #800000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
