* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  overflow: hidden;
  color:#e0dcdc;
  background-color: black;
}


#endingText{
  text-align: center;
}

#endingTitle{
  text-align: center;
  font-size: 5em;
}